@import "./../../../styles//_variables";

.header {
  background-color: $header-background-color;
  color: $color-white;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;

  .container {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      margin: 1rem 0;
      .link {
        .title {
          font-size: $font-header-size;
          font-weight: $font-title-weight;
        }
      }
    }
  }
}
