@import "./../../../styles//_variables";

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: $header-background-color;
    color: #ffffff;
    width: 100%;


  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-footer-size;
    margin: 1rem 0;
  }

  .link{
    color: white;
  }
}
