@import "./../../../styles//_variables";

.container {
    display: flex;
    align-self: center;
    justify-content: center;
    background-color: $header-background-color;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;


  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
