@import "./../../../styles//_variables";

.container {
  display: flex;
  align-self: center;
  justify-content: center;
  background-color: $header-background-color;
  color: #ffffff;
  width: 100%;
  height: 20rem;

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-footer-size;
    padding: 5rem;
  }

  .link {
    margin: 0 2rem;
    color: white;
  }
}

@media screen and (max-width: 990px) {
  .container .footer {
    font-size: $font-tablet-size;
  }
}
