@import "../../styles/variables";

.main {
  font-size: $font-main-size;
  padding: 2rem;
  margin: auto;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
    padding: 4rem 0;

    .left {
      padding-right: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .right {
      .img {
        max-width: 50rem;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    .cardWrapper{
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      margin: 2rem 0;

    }

    .projectsTitle {
      font-size: 3rem;
      font-weight: 600;
    }

    .row {
      display: flex;
      flex-direction: row;
    }
  }
}
