@import "../../styles/variables";

.main {
  font-size: $font-main-size;
  width: 100%;

  .aboutMe {
    padding: 5rem 10rem;
  }

  .projects {
    padding: 2rem;
    background-color: $color-dark-green;
  }

  .skillset {
    padding: 2rem;
  }

  .bold{
    font-weight: 600;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 4rem 0;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .right {
      display: flex;
      justify-content: center;

      .img {
        max-width: 60%;
        border-radius: 10rem;
      }
    }
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .cardWrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      flex-wrap: wrap;
      align-content: center;
      justify-content: space-evenly;
      padding: 4rem 0;
    }

    .title {
      font-size: 3rem;
      font-weight: 600;
    }

    .row {
      display: flex;
      flex-direction: row;
    }
  }
}

@media screen and (max-width: 990px) {
  .main {
    display: flex;
    flex-direction: column;
    font-size: $font-tablet-size;

    .wrapper {
      .cardWrapper {
        display: flex;
        flex-direction: column;
      }
      .title {
        font-size: 2rem;
        font-weight: 600;
      }
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left {
        padding: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 2rem;
        padding: 0 2rem;
      }

      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        text-align: center;
        .img {
          max-width: 50%;
        }
      }
    }
  }
}
