//FONT

$font-family: 'Verdana, sans-serif';

//font-title
$font-title-size:  3.5rem;
$font-title-weight: 600;

//COLORS

$header-background-color: #20232a;

//HEIGHTS
$height-header: 5rem;
$height-main-content: calc(100% - $height-header - $height-header);
