//HEADER

$font-header-size:  3rem;
$font-title-weight: 600;

//FOOTER

$font-footer-size: 2.5rem;


//MAIN

$font-main-size: 3rem;

//COLORS

$color-white: #fefefe;
$color-dark-green: #41696E;

//HEADER COLORS
$header-background-color: #41696E;

//FOOTER COLORS
$footer-background-color: #41696E;

//RESPONSIVE MAX-WIDTH 990px
$font-tablet-size: 2rem;
