//HEADER

$font-header-size:  3rem;
$font-title-weight: 600;

//FOOTER

$font-footer-size: 2.5rem;


//MAIN

$font-main-size: 3rem;

//COLORS
$header-background-color: #20232a;


//RESPONSIVE MAX-WIDTH 990px
$font-tablet-size: 2rem;
