@import "../../../styles/_variables.scss";

.column{
    display: flex;
    flex-direction: column;
    padding: 2rem;


    .title{
        font-weight: $font-title-weight;
    }

    .items {
        margin: 2rem 0;
    }

}

@media screen and (max-width: 990px) {
    .column {
      font-size: $font-tablet-size;
    }
  }
  