@import "../../../styles/_variables.scss";

.card {
  height: 100%;
  margin: 1rem 0;
  background-color: $color-white;
  border-radius: 2rem;

  .project {
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 35rem;
    box-shadow: 9px 7px 40px -6px rgb(0 0 0 / 25%);
    height: 100%;

    .cardBody{
      padding:1rem;
    }

    .marginRight {
      margin-right: 2rem;
    }

    .projectName {
      font-weight: 600;
    }


    .tagList {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      padding: 0;

      .tags {
        font-weight: 600;
        list-style-type: none;
      }
    }

    .imgContainer {
      margin-top: 2rem;

      .img {
        width: 90%;
        margin: 0 auto;
        height: 100%;
        box-shadow: 0 0 1rem 0 rgba(0,0,0,0.3);
      }
    }

    .links {
      padding-bottom: 2rem;
      display: flex;
      width: 100%;
      justify-content: space-evenly;

      a {
        text-decoration: none;
        color: #fefefe;
        background-color: $color-dark-green;
        border-radius: 0.5rem;
        padding: 1rem;
      }
    }
  }
}

@media screen and (max-width: 990px) {
  .project {
    font-size: $font-tablet-size;
  }
}
